header {
    height: 150px;
    width:auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

}

main {
    height: 500px;
    width: auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

}

footer {
    height: 100px;
    width: auto;
    background-color: red;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
}


