body {
    margin-left: 0;
    margin-right: 0;
}
header {
    height: 150px;
    width:auto;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    background-image: url(../images/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255,255,255);

}

main {
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;


}

footer {
    padding-top: 10px;
    height: 50px;
    width: auto;
    background-color: rgb(64,186,180);
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 3;
}

.cl1 {
    float: left;
}

#id1 {
    float: right;
}
.kontener-mapy {
    position: relative;
    width: 100%;
    height: 500px;
}
.lokalizacja {
    position: absolute;
    top:2%;
    left:1%;
    max-width:23%;
    height:53%;
    z-index:1;
    background: rgb(248,248,248);
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: rgb(0,6,102);
    border-radius: 5px;
}
.lokalizacja h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: rgb(255,255,255);
    background: rgb(64,186,180);
    text-shadow: 1px 1px 1px rgb(148,148,148);
    border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid rgb(57,147,143);
}
.lokalizacja label {
    display: block;
    margin: 0px 0px 5px;
}
.lokalizacja label>span {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(94,94,94);
}
.lokalizacja input[type="text"] {
    color: rgb(0,5,85);
    height: 30px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid rgb(229,229,229);
    background: rgb(251,251,251);
    outline: 0;
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.lokalizacja input[type="submit"] {
    background-color: rgb(64,186,180);
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.lokalizacja input[type="submit"]:hover {
    background-color:rgb(69,142,139);
}
.mapa {
    position: absolute;
    width: 100%;
    height:100%;
}
.zur-gda {
    position: absolute;
    top:16%;
    left:86%;
    width:7%;
    max-height:30%;
    border:1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 13px -6px;
}
.brama-wyz {
    position: absolute;
    top: 3%;
    left:32%;
    width:7%;
    max-height: 30%;
    border:1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 13px -6px;
}
.fon-nep {
    position: absolute;
    top:58%;
    left:67%;
    width:6%;
    max-height: 22%;
    border:1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 13px -6px;
}
.dom-uph {
    position: absolute;
    top:40%;
    left:43%;
    width:7%;
    max-height: 30%;
    border:1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 13px -6px;
}
.wykaz-funkcji {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:600px;
    background-color: rgb(248,248,248);
}
.wykaz {
    width:460px;
    height:123px;
    margin-top:39px;
    margin-left:132px;
    justify-content: center;
    display: flex;
}
.par-aparat {
    margin-left:14px;
}

.zegar p {
    text-align: center;
    font-family: Arial, sans-serif;
}
header > .zegar {
    position: absolute;
    right: 0;
}
header .bigbox {
    display: inline-block;
    position: relative;
    min-width: 50px;
    height: 100px;
    margin: 5px;
}
header .box {
    border: solid 1px black;
    border-radius: 10px;
    line-height: 35px;
    background-color: lavender;
    text-align: center;
}
header .box2 {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100%;
}

footer {
  text-align: center;
}
.fog {
    position: absolute;
    background-color: rgba(64,186,180,0.8);
    height: 500px;
    width: 100%;
    z-index: 2;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #949494;
    text-align: center;
    transition: background-color 1s, color 1s, text-shadow 0.5s, visibility 1s;
}
.fog > h1 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    line-height: 100px;
    padding-top: 100px;
}
.kontener-mapy:hover .fog {
    background-color: transparent;
    color: transparent;
    text-shadow: none;
    visibility: hidden;
}

body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: #161712;
}
form, input, select, textarea {
    margin:auto;
    padding:0;
    color:#ffffff;
}

div.box6 {
    margin:auto;
    width: 400px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;

}

div.box6 h1 {
    color:#ffffff;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box6 label {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box6 label span {
    display: block;
    color:#bbbbbb;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box6 .wpis {
    padding:10px 10px;
    width:250px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}

div.box6 .wiadomosc {
    padding:7px 7px;
    width:250px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    overflow:hidden;
    height:150px;
}

div.box6 .button	{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#CC0000;
    border:0px;
    position: relative;
    top:10px;
    left:150px;
    width:100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left:1px double #FF0033;
    border-right:1px double #FF0033;
}



