.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.game {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid {

    width: 20px;
    height: 20px;
    padding: 0;
    /*background-color: rgba(233,233,100,0.3);*/

}

table {
    border-spacing: 0;
    background-image: url(../images/gdansk.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
    width: 720px;
    margin: 0 auto;
    height: 50px;
}

#availMovesCounter {
    margin-left: 20px;
}

#start {

}

.station {
    background-image: url(../images/train_station.png);
    z-index: 99;
    background-size: contain;
}

.vTracks {
    background-image: url(../images/rail_v.png);
    z-index: 99;
    background-size: contain;
}

.hTracks {
    background-image: url(../images/rail_h.png);
    z-index: 99;
    background-size: contain;
}

.leftBottomTurn {
    background-image: url(../images/rail_t4.png);
    z-index: 99;
    background-size: contain;
}

.rightBottomTurn {
    background-image: url(../images/rail_t3.png);
    z-index: 99;
    background-size: contain;
}

.leftTopTurn {
    background-image: url(../images/rail_t2.png);
    z-index: 99;
    background-size: contain;
}

.rightTopTurn {
    background-image: url(../images/rail_t1.png);
    z-index: 99;
    background-size: contain;
}

