header {
    height: 150px;
    width:auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

}

main {
    height: 500px;
    width: auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

}

footer {
    height: 80px;
    width: auto;
    background-color: red;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
}

.cl1 {
    float: left;
}

#id1 {
    float: right;
}
.cl2 {
    position: relative;
    width: 90%;
    min-height: 400px;
    background-color: darkturquoise;
}
.zegar {
    position: absolute;
    bottom: 0px;
    background-color: yellow;
    min-width: 300px;
    min-height: 100px;
}