header {
    height: 150px;
    width:auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

}

main {
    height: 500px;
    width: auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;


}

footer {
    height: 80px;
    width: auto;
    background-color: red;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
}

.cl1 {
    float: left;
}

#id1 {
    float: right;
}
.cl2 {
    position: relative;
    width: 100%;
    min-height: 400px;
    /*background-image: url(../images/maptest5.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: ;*/
}
.zegar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.5);
    min-width: 300px;
    min-height: 100px;
}
.foot {
    height: 90px;
}